*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$mainBackground: #0D1B2A;
$secundaryBackground : #1B263B;
$thirdBakground: #415A77;
$fourthBackground: #778DA9;
$fifthBAckground: #E0E1DD;



// Main
.main{
    background-color: $thirdBakground;
    min-height: 87vh;
}