.cartContainer{
    display: flex;
    flex-direction: column;
    >p{
        font-size: 2rem;
    }
    p{
        color: $fifthBackground
    }

    >div{
        display: flex;
        flex-direction: column;
        align-items: center;

        .product{
            display: grid;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 0.5fr;
            grid-column-gap: 10px;
            grid-row-gap: 0px;

            .productTitle { grid-area: 1 / 1 / 2 / 2; }

            .productImage{
                width: 15%;
                grid-area: 1 / 2 / 2 / 3;
            }
            .productQuantity { grid-area: 1 / 3 / 2 / 4; }
            .productTotal { grid-area: 1 / 4 / 2 / 5; }
            }
    }

}
