
<div>
    <form action="/api/products" method="POST">
        <div>
            <label for="title">Titulo</label>
            <input type="text" name="title"/>
        </div>
        <div>
            <label for="category">category</label>
            <input type="text" name="category"/>
        </div>
        <div>
            <label for="description">description</label>
            <input type="text" name="description"/>
        </div>
        <div>
            <label for="price">price</label>
            <input type="text" name="price"/>
        </div>
        <div>
            <label for="code">code</label>
            <input type="text" name="code"/>
        </div>
        <div>
            <label for="stock">stock</label>
            <input type="text" name="stock"/>
        </div>
        <button type="submit">Crear producto</button>
    </form> 
</div>

