<h2>Introduzca la nueva Contraseña</h2>

<form action=""  id="changePassword">
        <div>
            <label for="email" class="label">Email</label>
            <input type="text" name="email"/>
        </div>

        <br>

        <div>
            <label for="password" class="label">Nueva Contraseña</label>
            <input type="password" name="password"/>
        </div>

        <br>

        <button type="submit" class="button">Cambiar Contraseña</button> 
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/changePassword.js"></script>