<div>
    Bienvenidxs a nustro chat!
</div>

<div id="user">
</div>

<div class="box chatContainer">
    <p id="messageLog" class="messageLog"> </p>
    <input type="text" id="chatBox" class="chatBox" />
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
