<div>
    Esto es un chat
</div>

<div id="user">
</div>

<div>
    <input type="text" id="chatBox"/>
    <p id="messageLog"> </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
