<div>
    <form action=""  id="loginForm">
        <div>
            <label for="email" class="label">Email</label>
            <input type="text" name="email"/>
        </div>
        <br>
        <div>
            <label for="password" class="label">Contraseña</label>
            <input type="password" name="password"/>
        </div>
        <br>
        <button id="loginButton" type="submit" class="button">Entrar</button>
        <br>    
    </form>
    <div>
        <a href="/resetPassword">Olvidaste la contraseña?</a>
    </div>

    <div>
        <p>Si no tenes una cuenta, registrate aqui</p>
        <a href="/register"> <button>Registrate</button> </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>