<div class="profileContainer">
    <div class="profileData">
        <p class="subtitle is-3"> Nombre: {{user.name}} </p>
        <p class="subtitle is-3">Email: {{user.email}}</p>
        <p class="subtitle is-3">Edad: {{user.age}}</p>
        <p class="subtitle is-3">Tu rol: {{user.rol}}</p>
    </div>

    <a href="/api/session/logout"> <button class="button">Cerrar sesión</button> </a>
</div>