<div>
    <h1>
        <p>Nombre: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Tu rol: {{user.rol}}</p>
    </h1>

    <a href="/api/session/logout"> <button class="button">Cerrar sesión</button> </a>
</div>