<div>
    <h1>
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.age}}</p>
    </h1>

    <a href="/api/session/logout">

    <button>Cerrar sesión</button>
    
    </a>
</div>