<h2>Cambia la contraseña</h2>

<form action=""  id="resetPasswordForm">
        <div>
            <label for="email" class="label">Email</label>
            <input type="text" name="email"/>
        </div>
        <br>
        <button type="submit" class="button">Enviar Email</button>
        <br>    
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>