<h1>Cambia la contraseña</h1>

<form action=""  id="resetPasswordForm">
        <div>
            <label for="email" class="label">Email</label>
            <input type="text" name="email"/>
        </div>
        <br>
        <div>
            <label for="password" class="label">Nueva contraseña</label>
            <input type="password" name="password"/>
        </div>
        <br>
        <button id="resetPasswordButton" type="submit" class="button">cambiar contraseña</button>
        <br>    
</form>

<script src="/js/resetPassword.js"></script>