.productsConatiner{
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(150px,1fr)
        );
    gap: 32px;

    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $fourthBackground;
        border: 2px black solid;

        h1{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }
    }
}

