.productsConatiner{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.3rem;

    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 0;
        background-color: $mainBackground;
        border: 2px black solid;
        border-radius: 1rem;
        
        h1{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }
    }
}

